
* {
	box-sizing: border-box;
}
body {
    height: 100%;
	width: 100%;
	margin: 0px;
    background-color: #888888;
	font-family: Sans-serif;
}

span{
    display: block;
}

input[type=text], input[type=password]{
    font-size: 13px;
    background-color: rgb(218, 241, 255);
    border: 1px solid gray;
}
textarea{
    font-size: 13px;
    background-color: rgb(218, 241, 255);
    height: 100px;
    width: 300px;
    text-align: left;
    vertical-align: top;
}
input[type=button]{
    margin: 2px auto;
    border: 1px solid #aaaaaa;
    font-size: 13px;
    cursor: pointer;
    transition: background-color 0.25s;
    background-color: rgb(218, 241, 255);
}
input[type=button]:hover{
    background-color: rgb(150, 215, 255);
}
input[type=checkbox]{
    cursor: pointer;
}
option{
    font-size: 13px;
    background-color: rgb(218, 241, 255);
    border: 1px solid gray;
    cursor: pointer;
}
.hidden_field {
    visibility: hidden;
}

p {
	margin-top: 8px;
	margin-bottom: 8px;
    font-size: 14px;
}

@media screen and (max-width:1200px) {
    input[type=button] {
        height: 15px;
    }
    input[type=button], input[type=text], input[type=password] {
        font-size: 8px;
    }
    input[type=checkbox]{
        width: 9px;
        height: 9px;
    }
    textarea{
        font-size: 10px;
        height: 50px;
        width: 200px;
    }
	p {
		margin-top: 5px;
		margin-bottom: 5px;
		font-size: 12px;
	}
}

/* Standard Font Colours */
.font_green {
    color: green;
}
.font_orange {
    color: orange;
}
.font_red {
    color: red;
}
.font_blue {
    color: blue;
}
.font_gray {
    color: #bbbbbb;
}

/* Standard top padding -- formatting tweaks */
.text_space_top_2 {
    margin-top: 2px;
}
.text_space_top_3 {
    margin-top: 3px;
}
.text_space_top_4 {
    margin-top: 4px;
}

/* Standard Icons */
.icon {
    cursor: pointer;
}
.icon_size {
	height: 18px;
	width: 18px;
    background-repeat: no-repeat;
    background-size: contain;
}

.icon_add {
    background-image: url("../images/add_icon.png");
}
.icon_clone {
    background-image: url("../images/world_clone_icon.png");
}
.icon_trash {
    background-image: url("../images/trash_icon.png");
}
.icon_reload {
    background-image: url("../images/reload_icon.png");
}

.icon_box {
    background-image: url("../images/box_icon.png");
}
.icon_box_clone {
    background-image: url("../images/box_clone_icon.png");
}
.icon_box_disabled {
    background-image: url("../images/box_disabled_icon.png");
}
.icon_template {
    background-image: url("../images/template_icon.png");
}
.icon_gear {
    background-image: url("../images/gear_icon.png");
}

.icon_write {
    background-image: url("../images/write_icon.png");
}
.icon_edit {
    background-image: url("../images/edit_icon.png");
}
.icon_save {
    background-image: url("../images/save_icon.png");
}

.icon_good {
    background-image: url("../images/good_icon.png");
}
.icon_warning {
    background-image: url("../images/warning_icon.png");
}
.icon_error {
    background-image: url("../images/error_icon.png");
}

@media screen and (max-width:1200px) {
    .icon_size {
        height: 12px;
        width: 12px;
    }
    .icon_clone {
        width: 18px;
    }
}

/* Error Pages */
.error_page {
	position: absolute;
	top: 40px;
    left: calc(50% - 325px);
	height: 200px;
	width: 650px;
	background-color: white;
	-webkit-box-shadow: 0px 5px 15px 5px rgba(0,0,0,0.5); 
	box-shadow: 0px 5px 15px 5px rgba(0,0,0,0.5);
}
.error_image {
	position: absolute;
	width: 280px;
	height: 200px;
	background-image: url('images/404.png');
	background-repeat: no-repeat;
	background-size: contain;
}
.error_message {
	position: absolute;
	left: 280px;
	width: calc(100% - 300px);
}
.error_sub_message {
	position: absolute;
	top: 220px;
	width: 100%;
}

@media screen and (max-width:1200px) {
    .error_page {
        top: 10px;
        left: 10px;
        height: 148px;
        width: calc(100% - 20px);
    }
    .error_image {
        width: 201px;
        height: 148px;
    }
    .error_message {
        left: 200px;
        width: calc(100% - 210px);
        padding: 10px;
    }
    .error_sub_message {
        top: 160px;
        width: 100%;
    }
}
@media screen and (max-width:480px) {
    .error_page {
        top: 10px;
        left: calc(50% - 175px);
        height: calc(100% - 20px);
        width: 350px;
        border: 1px solid black;
    }
    .error_image {
        width: 350px;
        height: 256px;
    }
    .error_message {
        top: 256px;
        left: 0px;
        width: 350px;
        padding: 5px;
    }
    .error_sub_message {
        top: 420px;
        width: 100%;
        padding: 5px;
        border-top: 1px solid black;
    }
}

/* Tool Tip */
.tooltip {
    position: absolute;
    width: auto;
    height: auto;
    border: 1px solid black;
    background-color: bisque;
    visibility: hidden;
    transition: visibility 0.25s;
    z-index: 10;
}
.tooltip:hover {
    visibility: visible;
}

/* TEMP */
.auth_state {
    position: absolute;
    top: 15px;
    left: calc(50% - 50px);
    width: 100px;
    height: 25px;
    text-align: center;
    border: 1px solid red;
    z-index: 500;
}

/* User auth */
.authenticated_user {
    position: absolute;
    right: 5px;
    top: 0px;
}
.auth_user_icon {
    width: 20px;
    height: 20px;
}
.auth_username {
    padding-top: 2px;
    height: 16px;
    font: 14px;
}
.auth_button {
    font-size: 10px;
}

.auth_user_dropdown{
    position: absolute;
    top: 5px;
    right: 0px;
    width: 140px;
    height: 25px;
    overflow: hidden;
    transition: height 0.25s;
    cursor: pointer;
}
.auth_user_dropdown:hover{
    height: 90px;
}
.auth_user_menu {
    position: absolute;
    top: 20px;
    left: 2px;
    width: calc(100% - 10px);
}

/* Mobile page formatting */
@media screen and (max-width:1200px) {
    .authenticated_user {
        right: 2px;
        top: 0px;
    }
    .auth_user_icon {
        width: 14px;
        height: 14px;
    }
    .auth_username {
        padding-top: 2px;
        height: 14px;
        font: 10px;
    }
    .auth_button {
        margin-top: 1px;
        font-size: 9px;
    }

    .auth_user_dropdown{
        height: 15px;
        width: 100px;
    }
    .auth_user_dropdown:hover{
        height: 60px;
    }    
    .auth_user_menu {
        top: 15px;
    }
}

/* Main page */
.header {
    position: absolute;
    margin-left: 10px;
    margin-right: 10px;
    top: 10px;
    width: calc(100% - 20px);
    min-width: 400px;
    height: 100px;
    background-color: white;
    border-bottom: 1px solid black;
    box-shadow: 0px 0px 8px grey;
    z-index: 2;
}
.header_logo {
    position: absolute;
    top: 0px;
    left: 0px;
	height:90px;
	width:222px;
	border: none;
	background-image: url("images/gears.png");
	background-repeat: no-repeat;
	background-size: contain;
}
.header_title {
    position: absolute;
    top: 65px;
    left: 85px;
    width: 300px;
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    color: black;
}

.content {
    position: absolute;
    margin-left: 10px;
    margin-right: 10px;
    top: 110px;
    width: calc(100% - 20px);
    min-width: 400px;
    height: calc(100% - 125px);
    background-color: white;
    padding: 5px;
    z-index: 1;
    overflow: auto;
}
.content_tabs {
    height: 100%;
    display: block;
}

/* Mobile page formatting */
@media screen and (max-width:1200px) {
	.header {
		height: 51px;
		min-width: 200px;
		margin-left: 0px;
		margin-right: 0px;
		top: 0px;
		width: calc(100% - 0px);
	}
	.header_logo {
		height: 50px;
		width: 75px;
		background-image: url("images/gears-small.png");
	}
	.header_title {
		top: calc(50% - 9px);
		left: 60px;
		height: 20px;
		width: 200px;
		font-size: 18px;
	}
	.content {
		top: 51px;
		height: calc(100% - 51px);
		width: calc(100% - 0px);
		min-width: 200px;
		margin-left: 0px;
		margin-right: 0px;
		padding: 2px;
	}
	
	/* jQuery CSS overrides */
	.ui-tabs {  /* outter tab box padding */
		padding: 1px;
	}
	.ui-tabs .ui-tabs-nav .ui-tabs-anchor {  /* Tab text padding */
		padding-top: 2px;
		padding-left: 5px;
		padding-right: 5px;
		padding-bottom: 0px;
	}
	.ui-tabs .ui-tabs-nav li { /* Tab spacing */
		margin-top: 0px;
		margin-left: 0px;
		margin-right: 2px;
		margin-bottom: 0px;
	}
	.ui-tabs .ui-tabs-nav { /* Outter tab bar padding */
		padding-top: 1px;
		padding-left: 2px;
		padding-right: 2px;
		padding-bottom: 0px;
	}
	.ui-tabs-anchor { /* Tab box height and font sizing */
		height: 20px;
		font-size: 12px;
		font-weight: bold;
	}
	
	.ui-dialog-title {
		font-size: 14px;
	}
}


/* Read Access */
.panel_read_access_image {
    margin-left: 10px;
	height: 20px;
	width: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../images/warning_icon.png");

}
.panel_read_access_text {
    padding-top: 2px;
    margin-left: 10px;
    font-size: 14px;
    font-weight: bold;
}

/* Project index */
.project_index_desc {
    font-size: 13px;
    background-color: white;
    height: auto;
    width: 100%;
    text-align: left;
    vertical-align: top;
}

/* Project tree list view */
.project_list {
    position: absolute;
	top: 47px;
    left: 7px;
    width: 245px;
    height: calc(100% - 47px);
    display: block;
}
.project_menu {
    position: absolute;
    margin-top: 5px;
    height: 30px;
    width: 100%;
	border-bottom: 1px solid #aaaaaa;
    display: block;
	z-index: 1;
}
.project_menu_btn {
    position: relative;
    margin-top: 0px;
    margin-left: 2px;
    height: 25px;
    width: 25px;
    background-color: white;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position-x: center;
    background-position-y: center;
    transition: background-color 0.5s;
	border: 1px solid #aaaaaa;
    border-radius: 5px;
    cursor: pointer;
	-webkit-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.25); 
	box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.25);
    display: inline-block;
}
.project_menu_btn:hover {
    background-color: #beebff;
}
.project_menu_btn_transparent {
    opacity: 0.4; 
	-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity= 40); /* // for IE8 */
	filter: alpha(opacity= 40); /* //for IE5-7 */
}
.project_tree {
    position: absolute;
    top: 37px;
    height: calc(100% - 40px);
    width: 245px;
    display: block;
	overflow: auto;
	
	/* background-color: #bbbbbb; */
}
.project_config_state_text {
    font: 16px;
}

/* Project tree list view */
.project_manage {
    position: absolute;
	top: 52px;
    left: 252px;
    width: calc(100% - 255px);
    height: calc(100% - 55px);
    border-left: 1px solid #aaaaaa;
    display: block;
    overflow: auto;
	
	/* background-color: #eeeeee; */
}

/* Website vhost and domains */
.project_title {
    position: absolute;
    margin-top: 2px;
    margin-left: 5px;
    color: black;
    font-size: 20px;
    font-weight: bold;
}
.project_trash_btn {
	width: 18px;
	height: 18px;
}
.project_panel {
    position: absolute;
    margin-top: 30px;
    margin-left: 5px;
    height: calc(100% - 33px);
    width: calc(100% - 8px);
    overflow: auto;
    display: block;
}
.project_setting_title {
	margin-top: 5px;
	margin-bottom: 5px;
    font-size: 16px;
}

/* Mobile page formatting */
@media screen and (max-width:1200px) {

    /* jsTree Override - Tree Icons */
    #project_tree {
        transform: scale(0.6);
        transform-origin: top left;
        width: calc(167%);
        height: calc(167% - 50px);
    }

    /* Layout */
	.project_list {
		position: absolute;
		top: 26px;
		left: 4px;
		width: 165px;
		height: calc(100% - 29px);
	}
	.project_menu {
		margin-top: 2px;
		height: 24px;
	}
	.project_menu_btn {
		height: 20px;
		width: 20px;
		background-size: 16px 16px;
	}
	.project_tree {
		top: 28px;
		height: calc(100% - 29px);
		width: 185px;
	}
	.project_manage {
		top: 28px;
		left: 169px;
		width: calc(100% - 167px);
		height: calc(100% - 32px);
	}
	.project_title {
		font-size: 16px;
	}
	.project_trash_btn {
		width: 16px;
		height: 16px;
	}
    .project_panel {
        margin-top: 23px;
        height: calc(100% - 25px);
    }
	.project_setting_title {
		font-size: 14px;
	}
}

/* Project mapping policies */
.project_site_new_btn {
    height: 30px;
    font-weight: bold;
    border-radius: 15px;
    -webkit-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.3); 
    box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.3);
}
.project_site_new_arrow{
    padding-left: calc(50% - 10px);
}
.project_site_rename {
	height: 16px;
	width: 16px;
}
.project_site_clone {
	height: 16px;
	width: 22px;
}
.project_site_trash {
	height: 16px;
	width: 16px;
}

.project_site_map_select {
    border: 1px solid black;
    width: 500px;
    height: 300px;
    overflow: auto;
}
.project_site_map_add {
	height: 16px;
	width: 16px;
}
.project_site_map_delete {
	height: 16px;
	width: 16px;
}
.project_site_map_path {
    border-bottom: 1px solid #bbbbbb;
    height: 18px;
}

.project_fix_btn {
    height: 18px;
    border-radius: 3px;
    -webkit-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.3); 
    box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.3);
}

/* Mobile page formatting */
@media screen and (max-width:1200px) {
    .project_site_new_btn {
        height: 20px;
        border-radius: 10px;
    }
        
	.project_site_create_btn{
		width: 100px;
		height: 40px;
		font-size: 12px;
	}
	.project_site_trash, .project_site_rename {
		height: 14px;
		width: 14px;
	}
	.project_site_clone {
		height: 14px;
		width: 21px;
	}

    .project_site_map_add {
        height: 14px;
        width: 14px;
    }
    .project_site_map_delete {
        height: 14px;
        width: 14px;
    }
}

/* Project files */
.project_file_title {
    position: absolute;
    top: 0px;
    margin-left: 5px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
}
.project_file_read_access {
    position: absolute;
    top: 8px;
    left: 100px;
    height: 25px;
    width: 300px;
}
.project_file_menu {
    position: absolute;
    top: 20px;
    left: 0px;
    height: 33px;
    width: 100%;
    padding-top: 4px;
    border-top: 1px solid #bbbbbb;
}
.project_files_menu_btn {
	display: inline-block;
    margin: 3px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
	transition: 0.5s background-color;
    cursor:pointer;
}
.project_files_menu_btn:hover {
    background-color: rgb(218, 241, 255);
}
.project_files_menu_add_folder {
    background-image: url("../images/folder_add_icon.png");
}
.project_files_menu_add_folder_disabled {
    background-image: url("../images/folder_add_disabled_icon.png");
}
.project_files_menu_add_file {
    background-image: url("../images/file_add_icon.png");
}
.project_files_menu_add_file_disabled {
    background-image: url("../images/file_add_disabled_icon.png");
}
.project_files_menu_delete {
    background-image: url("../images/folder_file_delete_icon.png");
}
.project_files_menu_delete_disabled {
    background-image: url("../images/folder_file_delete_disabled_icon.png");
}
.project_file_list {
    position: absolute;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    top: 55px;
    left: 0px;
    height: calc(40% - 60px);
    width: 100%;
    overflow: auto;
}
.project_file_data_title {
    position: absolute;
    top: 40%;
    height: 25px;;
    margin-left: 5px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
}
.project_file_data {
    position: absolute;
    top: calc(40%);
    left: 0px;
    margin-top: 20px;
    height: calc(60% - 20px);
    width: 100%;
    padding: 5px;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 13px;
    font-weight: normal;
    overflow: auto;
}
.project_file_window {
    width: 1200px;
}

/* Mobile page formatting */
@media screen and (max-height: 400px) {
    .project_file_title {
        width: 40%;
    }
    .project_file_menu {
        width: 40%;
    }
    .project_file_list {
        width: 40%;
        height: calc(100% - 55px);
    }

    .project_file_data_title {
        top: 0px;
        left: calc(40% + 10px);
    }
    .project_file_data {
        top: 0px;
        left: calc(40% + 10px);
        height: calc(100% - 20px);
        width: calc(60% - 10px);
        font-size: 11px;
    }
}

/* Resolve panel */
.resolve_project_option {
    width: 100px;
}
.resolve_env_option {
    width: 90px;
}
.resolve_website_option {
    width: 175px;
}

/* Mobile page formatting */
@media screen and (max-width:1200px) {
    .resolve_project_option {
        width: 90px;
    }
    .resolve_env_option {
        width: 60px;
    }
    .resolve_website_option {
        width: 100px;
    }
}

/* VHost reference */
.vhost_panel {
    position: absolute;
    top: 50px;
    left: 4px;
    height: calc(100% - 54px);
    width: calc(100% - 10px);
    overflow: auto;
    display: block;
}
@media screen and (max-width:1200px) {
    .vhost_panel {
        top: 30px;
        left: 4px;
        height: calc(100% - 34px);
        width: calc(100% - 10px);
    }
}

/* Admin page */
.admin_mgmt {
    position: absolute;
    top: 50px;
    left: 4px;
    height: calc(100% - 54px);
    width: calc(100% - 10px);
    overflow: auto;
    display: block;
}
.admin_nav {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 150px;
    height: 100%;
    border-right: 1px solid #aaaaaa;
}
.admin_nav_btn {
    display: block;
    width: 100%;
    height: 24px;
    padding-top: 3px;
    padding-left: 5px;
    font-size: 15px;
    font-weight: bold;
    border-bottom: 1px solid #aaaaaa;
    transition: background-color 0.25s;
    cursor: pointer;
}
.admin_nav_btn:hover {
    background-color: rgb(218, 241, 255);
}
.admin_panel {
    position: absolute;
    left: 155px;
    top: 0px;
    width: calc(100% - 155px);
    height: 100%;
    overflow: auto;
}
.admin_list_user {
    cursor: pointer;
}
.admin_icon_size {
	height: 18px;
	width: 18px;
}

.admin_map_btn {
    display: block;
    height: 25px;
    width: 50px;
    margin-top: 5px;
    margin-left: 20px;
    padding-top: 3px;
    border: 1px solid #aaaaaa;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.25s;
}
.admin_map_btn_select {
    background-color: rgb(218, 241, 255);
}
.admin_map_test_box {
    width: 400px;
}
.admin_map_test_pre {
    margin: 0px auto;
    height: 300px;
    width: 750px;
    font-size: 12px;
    background-color: #eeeeee;
    overflow: auto;
}

@media screen and (max-width:1200px) {
    .admin_mgmt {
        top: 30px;
        left: 4px;
        height: calc(100% - 34px);
        width: calc(100% - 10px);
    }
    .admin_nav_btn {
        height: 20px;
        font-size: 12px;
    }
    .admin_icon_size {
        height: 13px;
        width: 13px;
    }
}

/* Grid table formatting */
.grid1, .grid2, .grid3, .grid4, .grid5, .grid6, .grid7, .grid8, .grid9, .grid10, .grid11, .grid12, .grid13, .grid14, .grid15, .grid16, .grid17, .grid18, .grid19, .grid20 {
    display: inline-grid;
    grid-gap: 1px;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #aaaaaa;
}
.grid1_inner, .grid2_inner, .grid3_inner, .grid4_inner, .grid5_inner, .grid6_inner, .grid7_inner, .grid8_inner, .grid9_inner, .grid10_inner, .grid11_inner, .grid12_inner, .grid13_inner, .grid14_inner, .grid15_inner, .grid16_inner, .grid17_inner, .grid18_inner, .grid19_inner, .grid20_inner {
    display: inline-grid;
    grid-gap: 0px;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.grid1, .grid1_inner {
    grid-template-columns: max-content;
}
.grid2, .grid2_inner {
    grid-template-columns: max-content max-content;
}
.grid3, .grid3_inner {
    grid-template-columns: max-content max-content max-content;
}
.grid4, .grid4_inner {
    grid-template-columns: max-content max-content max-content max-content;
}
.grid5, .grid5_inner {
    grid-template-columns: max-content max-content max-content max-content max-content;
}
.grid6, .grid6_inner {
    grid-template-columns: max-content max-content max-content max-content max-content max-content;
}
.grid7, .grid7_inner {
    grid-template-columns: max-content max-content max-content max-content max-content max-content max-content;
}
.grid8, .grid8_inner {
    grid-template-columns: max-content max-content max-content max-content max-content max-content max-content max-content;
}
.grid9, .grid9_inner {
    grid-template-columns: max-content max-content max-content max-content max-content max-content max-content max-content max-content;
}
.grid10, .grid10_inner {
    grid-template-columns: max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content;
}
.grid11, .grid11_inner {
    grid-template-columns: max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content;
}
.grid12, .grid12_inner {
    grid-template-columns: max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content;
}
.grid13, .grid13_inner {
    grid-template-columns: max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content;
}
.grid14, .grid14_inner {
    grid-template-columns: max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content;
}
.grid15, .grid15_inner {
    grid-template-columns: max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content;
}
.grid16, .grid16_inner {
    grid-template-columns: max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content;
}
.grid17, .grid17_inner {
    grid-template-columns: max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content;
}
.grid18, .grid18_inner {
    grid-template-columns: max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content;
}
.grid19, .grid19_inner {
    grid-template-columns: max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content;
}
.grid20, .grid20_inner {
    grid-template-columns: max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content;
}


/* Header formatting */
.grid1_head, .grid2_head, .grid3_head, .grid4_head, .grid5_head, .grid6_head, .grid7_head, .grid8_head, .grid9_head, .grid10_head, .grid11_head, .grid12_head, .grid13_head, .grid14_head, .grid15_head, .grid16_head, .grid17_head, .grid18_head, .grid19_head, .grid20_head {
    background-color: #beebff;
    padding: 5px;
    text-align: left;
    font-weight: bold;
    font-size: 16px;
}

/* Sub Header formatting */
.grid1_sub_head, .grid2_sub_head, .grid3_sub_head, .grid4_sub_head, .grid5_sub_head, .grid6_sub_head, .grid7_sub_head, .grid8_sub_head, .grid9_sub_head, .grid10_sub_head, .grid11_sub_head, .grid12_sub_head, .grid13_sub_head, .grid14_sub_head, .grid15_sub_head, .grid16_sub_head, .grid17_sub_head, .grid18_sub_head, .grid19_sub_head, .grid20_sub_head {
    background-color: #f3fbff;
    padding: 5px;
    text-align: left;
    font-weight: bold;
    font-size: 14px;
}

/* Column formatting */
.grid1_col, .grid2_col, .grid3_col, .grid4_col, .grid5_col, .grid6_col, .grid7_col, .grid8_col, .grid9_col, .grid10_col, .grid11_col, .grid12_col, .grid13_col, .grid14_col, .grid15_col, .grid16_col, .grid17_col, .grid18_col, .grid19_col, .grid20_col {
    background-color: white;
    padding: 5px;
    text-align: left;
    font-weight: normal;
    font-size: 14px;
}

/* Grid Inner Column */
.grid1_inner_col, .grid2_inner_col, .grid3_inner_col, .grid4_inner_col, .grid5_inner_col, .grid6_inner_col, .grid7_inner_col, .grid8_inner_col, .grid9_inner_col, .grid10_inner_col, .grid11_inner_col, .grid12_inner_col, .grid13_inner_col, .grid14_inner_col, .grid15_inner_col, .grid16_inner_col, .grid17_inner_col, .grid18_inner_col, .grid19_inner_col, .grid20_inner_col {
    padding: 2px;
    text-align: left;
    font-weight: normal;
    font-size: 14px;
}

/* Column span */
.grid1_head, .grid1_sub_head, .grid1_col, .grid1_inner_col {
    grid-column: span 1;
}
.grid2_head, .grid2_sub_head, .grid2_col, .grid2_inner_col {
    grid-column: span 2;
}
.grid3_head, .grid3_sub_head, .grid3_col, .grid3_inner_col {
    grid-column: span 3;
}
.grid4_head, .grid4_sub_head, .grid4_col, .grid4_inner_col {
    grid-column: span 4;
}
.grid5_head, .grid5_sub_head, .grid5_col, .grid5_inner_col {
    grid-column: span 5;
}
.grid6_head, .grid6_sub_head, .grid6_col, .grid6_inner_col {
    grid-column: span 6;
}
.grid7_head, .grid7_sub_head, .grid7_col, .grid7_inner_col {
    grid-column: span 7;
}
.grid8_head, .grid8_sub_head, .grid8_col, .grid8_inner_col {
    grid-column: span 8;
}
.grid9_head, .grid9_sub_head, .grid9_col, .grid9_inner_col {
    grid-column: span 9;
}
.grid10_head, .grid10_sub_head, .grid10_col, .grid10_inner_col {
    grid-column: span 10;
}
.grid11_head, .grid11_sub_head, .grid11_col, .grid11_inner_col {
    grid-column: span 11;
}
.grid12_head, .grid12_sub_head, .grid12_col, .grid12_inner_col {
    grid-column: span 12;
}
.grid13_head, .grid13_sub_head, .grid13_col, .grid13_inner_col {
    grid-column: span 13;
}
.grid14_head, .grid14_sub_head, .grid14_col, .grid14_inner_col {
    grid-column: span 14;
}
.grid15_head, .grid15_sub_head, .grid15_col, .grid15_inner_col {
    grid-column: span 15;
}
.grid16_head, .grid16_sub_head, .grid16_col, .grid16_inner_col {
    grid-column: span 16;
}
.grid17_head, .grid17_sub_head, .grid17_col, .grid17_inner_col {
    grid-column: span 17;
}
.grid18_head, .grid18_sub_head, .grid18_col, .grid18_inner_col {
    grid-column: span 18;
}
.grid19_head, .grid19_sub_head, .grid19_col, .grid19_inner_col {
    grid-column: span 19;
}
.grid20_head, .grid20_sub_head, .grid20_col, .grid20_inner_col {
    grid-column: span 20;
}

/* Custom Grids */
.grid2_auth_user_dialog {
    grid-gap: 0px;
}
.grid2_auth_user {
    grid-gap: 0px;
    padding: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.grid1_auth_user_select {
    padding: 1px;
}
.grid7_project_index{
    grid-template-columns: max-content max-content max-content 500px max-content max-content max-content;
}
.grid2_project_create {
    grid-template-columns: 220px minmax(200px, max-content);
    min-height: 250px;
    min-width: 350px;
}
.grid2_project_create_templates {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    grid-template-columns: minmax(120px, max-content) 200px;
}
.grid2_project_settings{
    grid-template-columns: 150px 420px;
}
.grid3_project_websites {
    grid-gap: 0px;
}
.grid2_project_vhost {
    grid-template-columns: 150px 250px;
}
.grid3_project_dns {
    grid-template-columns: 150px 250px max-content;
}
.grid4_site_name_edit {
    grid-template-columns: 200px 25px 25px 25px;
}
.grid2_site_mapping {
    grid-template-columns: minmax(250px, max-content) minmax(225px, max-content);
}
.grid3_site_mapping {
    grid-template-columns: 25px minmax(225px, max-content) minmax(225px, max-content);
}
.grid4_site_mapping {
    grid-template-columns: 25px minmax(225px, max-content) minmax(225px, max-content) max-content;
}
.grid2_site_create {
    grid-template-columns: 220px minmax(200px, max-content);
    min-height: 250px;
}
.grid3_site_create_template {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    grid-template-columns: 60px minmax(100px, max-content) minmax(170px, max-content);
}
.grid3_inner_site_mapping_err_maint {
    grid-template-columns: 35px minmax(175px, max-content) minmax(175px, max-content);
}
.grid4_template_list {
    grid-template-columns: minmax(100px, max-content) minmax(75px, max-content) minmax(175px, max-content) minmax(350px, max-content);
}
.grid5_template_list {
    grid-template-columns: minmax(100px, max-content) minmax(75px, max-content) minmax(175px, max-content) minmax(350px, max-content) 30px;
}
.grid3_server_settings {
    grid-template-columns: max-content max-content 500px;
}
.grid2_admin_user_management {
    grid-template-columns: max-content 500px;
}
.grid6_admin_user_list {
    grid-gap: 0px;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.grid2_admin_sub_head_user {
    background-color: white;
    padding: 5px;
    text-align: left;
    font-weight: bold;
    font-size: 14px;
    grid-column-start: 2;
    grid-column-end: 4;
}
.grid2_admin_user_groups_projects {
    grid-gap: 0px;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* Common Dividers */
.grid1_col_divider{
    border-top: 1px solid #beebff;
}
.grid1_col_shade{
    background-color: rgb(245, 245, 245);
}

/* Mobile page formatting */
@media screen and (max-width:1200px) {
	.grid1, .grid2, .grid3, .grid4, .grid5, .grid6, .grid7, .grid8, .grid9, .grid10, .grid11, .grid12, .grid13, .grid14, .grid15, .grid16, .grid17, .grid18, .grid19, .grid20 {
		margin-top: 5px;
		margin-bottom: 5px;
	}
	.grid1_head, .grid2_head, .grid3_head, .grid4_head, .grid5_head, .grid6_head, .grid7_head, .grid8_head, .grid9_head, .grid10_head, .grid11_head, .grid12_head, .grid13_head, .grid14_head, .grid15_head, .grid16_head, .grid17_head, .grid18_head, .grid19_head, .grid20_head {
		padding: 2px;
		font-size: 10px;
	}
	.grid1_sub_head, .grid2_sub_head, .grid3_sub_head, .grid4_sub_head, .grid5_sub_head, .grid6_sub_head, .grid7_sub_head, .grid8_sub_head, .grid9_sub_head, .grid10_sub_head, .grid11_sub_head, .grid12_sub_head, .grid13_sub_head, .grid14_sub_head, .grid15_sub_head, .grid16_sub_head, .grid17_sub_head, .grid18_sub_head, .grid19_sub_head, .grid20_sub_head {
		padding: 2px;
		font-size: 10px;
	}
	.grid1_col, .grid2_col, .grid3_col, .grid4_col, .grid5_col, .grid6_col, .grid7_col, .grid8_col, .grid9_col, .grid10_col, .grid11_col, .grid12_col, .grid13_col, .grid14_col, .grid15_col, .grid16_col, .grid17_col, .grid18_col, .grid19_col, .grid20_col {
		padding: 2px;
		font-size: 10px;
	}
    .grid1_inner_col, .grid2_inner_col, .grid3_inner_col, .grid4_inner_col, .grid5_inner_col, .grid6_inner_col, .grid7_inner_col, .grid8_inner_col, .grid9_inner_col, .grid10_inner_col, .grid11_inner_col, .grid12_inner_col, .grid13_inner_col, .grid14_inner_col, .grid15_inner_col, .grid16_inner_col, .grid17_inner_col, .grid18_inner_col, .grid19_inner_col, .grid20_inner_col {
        padding: 2px;
        font-size: 10px;
    }

    /* Custom Grids */
    .grid2_admin_user_management {
        grid-template-columns: max-content 400px;
    }   
    .grid2_admin_sub_head_user {
        padding: 2px;
        font-size: 10px;
    }

    .grid7_project_index{
        grid-template-columns: max-content max-content max-content 220px max-content max-content max-content;
    }
    .grid4_site_name_edit {
        grid-template-columns: 125px 15px 20px 15px;
    }
}

/* Overrides */

.auth_user_menu_select {
    text-align: right;
}