
/* 

General Formatting 

*/

body {
    height: 100%;
	width: 100%;
	margin: 0px;
    background-color: #eeeeee;
	font-family: Sans-serif;
}

.frame {
    position: absolute;
    top: 10px;
    left: calc(50% - 450px);
    width: 900px;
    height: calc(100% - 22px);
    background-color: white;
	border: 1px solid black;
}
.header {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100px;
	background: rgb(36,0,0);
	background: linear-gradient(135deg, rgba(36,0,0,1) 0%, rgba(121,9,9,1) 50%, rgba(255,0,0,1) 100%);	
}
.header_logo {
    position: absolute;
    top: 10px;
    left: 0px;
    height: 80px;
    width: 120px;
    background-image: url("images/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.header_title {
    position: absolute;
    top: calc(50% - 12px);
    left: 120px;
    height: 24px;
    font-size: 20px;
    color: white;
}

.page {
    position: absolute;
    top: 100px;
    left: 0px;
    height: calc(100% - 100px);
    width: 100%;
}

.content {
    height: calc(100% - 10px);
	width: calc(100% - 10px);
	margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    overflow: auto;
	text-align: center;
}

.message {
    border: 1px solid gray;
	width: 80%;
	margin-left: 10%;
	text-align: left;
	min-height: 200px;
}


/* 

Common div grid - example

*/

/* Grid table formatting */
.grid1, .grid2, .grid3, .grid4, .grid5, .grid6, .grid7, .grid8, .grid9, .grid10 {
    display: inline-grid;
    grid-gap: 1px;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #aaaaaa;
}
.grid1 {
    grid-template-columns: max-content;
}
.grid2 {
    grid-template-columns: max-content max-content;
}
.grid3 {
    grid-template-columns: max-content max-content max-content;
}
.grid4 {
    grid-template-columns: max-content max-content max-content max-content;
}
.grid5 {
    grid-template-columns: max-content max-content max-content max-content max-content;
}
.grid6 {
    grid-template-columns: max-content max-content max-content max-content max-content max-content;
}
.grid7 {
    grid-template-columns: max-content max-content max-content max-content max-content max-content max-content;
}
.grid8 {
    grid-template-columns: max-content max-content max-content max-content max-content max-content max-content max-content;
}
.grid9 {
    grid-template-columns: max-content max-content max-content max-content max-content max-content max-content max-content max-content;
}
.grid10 {
    grid-template-columns: max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content;
}

/* Header formatting */
.grid1_head, .grid2_head, .grid3_head, .grid4_head, .grid5_head, .grid6_head, .grid7_head, .grid8_head, .grid9_head, .grid10_head {
    background-color: #beebff;
    padding: 5px;
    text-align: left;
    font-weight: bold;
    font-size: 16px;
}

/* Sub Header formatting */
.grid1_sub_head, .grid2_sub_head, .grid3_sub_head, .grid4_sub_head, .grid5_sub_head, .grid6_sub_head, .grid7_sub_head, .grid8_sub_head, .grid9_sub_head, .grid10_sub_head {
    background-color: white;
    padding: 5px;
    text-align: left;
    font-weight: bold;
    font-size: 14px;
}

/* Column formatting */
.grid1_col, .grid2_col, .grid3_col, .grid4_col, .grid5_col, .grid6_col, .grid7_col, .grid8_col, .grid9_col, .grid10_col {
    background-color: white;
    padding: 5px;
    text-align: left;
    font-weight: normal;
    font-size: 14px;
}

/* Column span */
.grid1_head, .grid1_sub_head, .grid1_col {
    grid-column: span 1;
}
.grid2_head, .grid2_sub_head, .grid2_col {
    grid-column: span 2;
}
.grid3_head, .grid3_sub_head, .grid3_col {
    grid-column: span 3;
}
.grid4_head, .grid4_sub_head, .grid4_col {
    grid-column: span 4;
}
.grid5_head, .grid5_sub_head, .grid5_col {
    grid-column: span 5;
}
.grid6_head, .grid6_sub_head, .grid6_col {
    grid-column: span 6;
}
.grid7_head, .grid7_sub_head, .grid7_col {
    grid-column: span 7;
}
.grid8_head, .grid8_sub_head, .grid8_col {
    grid-column: span 8;
}
.grid9_head, .grid9_sub_head, .grid9_col {
    grid-column: span 9;
}
.grid10_head, .grid10_sub_head, .grid10_col {
    grid-column: span 10;
}

/* Mobile page formatting */
@media screen and (max-width: 840px) {
	.grid1, .grid2, .grid3, .grid4, .grid5, .grid6, .grid7, .grid8, .grid9, .grid10{
		margin-top: 5px;
		margin-bottom: 5px;
	}
	.grid1_head, .grid2_head, .grid3_head, .grid4_head, .grid5_head, .grid6_head, .grid7_head, .grid8_head, .grid9_head, .grid10_head {
		padding: 2px;
		font-size: 12px;
	}
	.grid1_sub_head, .grid2_sub_head, .grid3_sub_head, .grid4_sub_head, .grid5_sub_head, .grid6_sub_head, .grid7_sub_head, .grid8_sub_head, .grid9_sub_head, .grid10_sub_head {
		padding: 2px;
		font-size: 10px;
	}
	.grid1_col, .grid2_col, .grid3_col, .grid4_col, .grid5_col, .grid6_col, .grid7_col, .grid8_col, .grid9_col, .grid10_col {
		padding: 2px;
		font-size: 10px;
	}
}
